---
import Layout from '@layouts/Layout.astro';
---

<Layout title='404'>
	<div class='flex h-[100vh] items-center justify-center'>
		<div class='mt-16 text-center'>
			<h1 class='text-4xl font-bold lg:text-5xl lg:tracking-tight'>404</h1>
			<p class='mt-4 text-lg text-slate-600'>Page not found.</p>
		</div>
	</div>
</Layout>
