---
import Layout from '@layouts/Layout.astro';
---

<Layout title=''>
	<div class='flex h-[100vh] items-center justify-center'>
		<div class='mt-16 text-center'>
			<h1 class='text-4xl font-bold lg:text-5xl lg:tracking-tight'>Moon</h1>
			<p class='mt-4 text-lg text-slate-600'>Theme builder for Enmity and Vendetta</p>
		</div>
	</div>
</Layout>
